extends ../layouts/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/about.jpg", alt="about page image", class="img-fluid")
            .col.md-7
                h1 #{pageTitle}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius ante at arcu convallis, vel viverra justo volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis vel neque vel, semper auctor dui. Vivamus vitae porttitor augue. Aliquam sit amet mi blandit, tincidunt mi at, pretium nisi. Nulla accumsan commodo justo id efficitur.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius ante at arcu convallis, vel viverra justo volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis vel neque vel, semper auctor dui. Vivamus vitae porttitor augue. Aliquam sit amet mi blandit, tincidunt mi at, pretium nisi. Nulla accumsan commodo justo id efficitur.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius ante at arcu convallis, vel viverra justo volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", class='img-fluid mb-4')
                    h2.mb-4 Trust and Safety
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis.
                .col-md-4
                    img(src="/img/icon_destiny.svg", class='img-fluid mb-4')
                    h2.mb-4 Best Destinations
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis.
                .col-md-4
                    img(src="/img/icon_price.svg", class='img-fluid mb-4')
                    h2.mb-4 Best Price
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc augue, iaculis.